*root{
	--color-snake-body: '#FF7373';
	--color-snake-head: '#FF4040';
}

body {
	background-color: rgb(190, 190, 190);
}

.game-title {
	text-align: center;
	color: aliceblue;
	font-size: 40px;
	text-transform: uppercase;
}

.game-screen {
	position: relative;
	margin: 0 auto;
	width: 800px;
	height: 400px;
}

#cnv {
	background-color: #372e51;
	display: block;
}

.start-game-screen {
	width: 800px;
	height: 445px;
	/* background-color: rgb(146, 146, 146); */
	background: rgb(191,204,31);
	background: linear-gradient(90deg, rgba(191,204,31,1) 0%, rgba(185,87,3,1) 58%, rgba(0,212,255,1) 100%);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 30;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: aliceblue;
}

.start-screen-readme{
	text-align: center;
	margin: 30px 0;
	border: 3px solid aliceblue;
	padding: 20px;
}

.game-over-screen {
	width: 800px;
	height: 400px;
	background-color: rgba(255, 0, 0, .7);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.game-over-screen h1 {
	font-size: 50px;
}

.status-bar {
	width: 800px;
	min-height: 45px;
	margin: 0 auto;
	border: 3px solid black;
	padding: 10px;
	box-sizing: border-box;
	position: relative;
}

.status-bar .left {
	position: absolute;
	left: 10px;
}

.status-bar .right {
	position: absolute;
	right: 10px;
}

.generator {
	width: 100vw;
	min-height: 100vh;
	background-color: rgb(173, 173, 173);
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.generator-close {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 70px;
	color: #fff;
	cursor: pointer;
}