.generator {
  padding-top: 30px;
  position: fixed;
  top: 0;
  left: 0;
}

.generator-controls{
  margin: 10px auto;
  text-align: center;
  padding: 10px;
  color: #fff;
}

.generator-controls button{
  padding: 3px 6px;
  margin: 0 3px;
}

h1.level-gen-title {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.area {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(40, 20px);
  grid-column-gap: 2px;
  justify-content: center;
}

.box {
  width: 20px;
  height: 20px;
  margin: 1px;
  border: 1px solid black;
  border-radius: 3px;
  box-sizing: border-box;
}

.box:hover {
  border: 3px solid black;
}

.black {
  background-color: #000;
}

.teleport {
  background-color: blue;
}

.snake-gen-point {
  background-color: red;
}

.save-level-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: #aaa;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.save-level-screen h1{
  font-size: 40px;
  color: rgb(245, 245, 245);
}

.save-level-screen input{
  width: 550px;
  height: 50px;
  border:1px solid #aaa;
  border-radius: 10px;
  margin: 50px 0;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.save-level-screen button{
  padding: 3px 6px;
  display: inline-block;
  width: 200px;
  height: 60px;
  font-size: 25px;
  margin: 0 15px;
}

.save-levels {
  margin-top: 15px;
  text-align: center;
}

.saved-level {
  display: inline-block;
  border: 1px solid white;
  cursor: pointer;
  padding: 6px;
  margin: 10px;
  color: #fff;
}

.big-world {
  border: 1px solid rgb(0, 102, 255);
}

.saved-level-checked {
  border: 1px solid red;
}
